body {
	margin:0;
	padding:0;
	font-family: Calibri;
	font-size: 20px !important;
	color: #333;
	text-align: center;
	width: 100%;
}

span.headerTitle {
	font-style: italic;
	margin: 0 auto;
	padding: 10px 20px;
	background: #999;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	border-radius: 30px;
}

h3 {
	margin: 0;
	text-align: left;
}

#main {
	text-align: left;
	width: 800px;
	margin: 0 auto;
}

#step0 {
	text-align: center;
	margin: 0 auto;
	padding: 50px 0;
	width: 100%;
}

#step1, #step2, #step3 {
	display: none;
	text-align: center;	
	margin: 0 auto; 
	padding: 50px 0 0 0;
	width: 100%;
}

#step1next {
	display: none;
}

#step2next {
	display: none;
}

.content {
	margin: 40px 0 0 0;
	font-size: 30px;
}

.button {
	clear: both;
	margin: 10px 0 0 0;
}

button {
	background: #a1dbff;
	padding: 10px;
	border: 1px solid #999;
	border-radius: 5px;
	font-size: 20px;
	margin: 20px;
	cursor: pointer;
}

button:hover {
	background: #70CAFF; 	
}

div.title {
	margin: 0 0 20px 0;
}

#groupAdd {
	font-size: 16px;
	cursor: pointer;
}

#groupAdd:hover {
	text-decoration: underline;
}

input[name="groupName"] {
	border: 1px solid #999;
	padding: 5px;
	border-radius: 3px;
}

.ajaxResponse {
	display: none;
	clear: both;
}

#groupList {
	font-size: 20px;
	width: 400px;
	margin: 0 auto;	
	text-align: left;
}

#groupList ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#groupList ul li {
	float: left;
	padding: 5px;
	margin: 5px;
	border: 1px solid #ccc;	
}

#user2groupLists {
	float: left;
	border: 1px dashed #ccc;	
	width: 100%;
}

#user2groupLists div {
	float: left;
	width: 180px;
	margin: 20px;
	padding: 20px 20px 0 20px;
	border: 1px dashed #ccc;
}

#user2groupLists li {
	font-size: 18px;
	text-align: left;
}

#user2groupLists div h3 {
	font-size: 20px;
	text-align: center;
}

#userList {
	border: 1px dashed #ccc;
	float: left;
	width: 100%;
	margin: 0 0 20px 0;
}

#userList ul {
	padding: 0;
	margin: 0;	
	list-style: none;
}

#userList li {
	float: left;
	font-size: 14px;
	margin: 5px;
	padding: 5px;
	border: 1px solid #ccc;
	cursor: pointer;
}

#userList li:hover {
	background: #ededed;	
}

#userList4graph {
	border: 1px dashed #ccc;
	float: left;
	width: 100%;
	margin: 0 0 20px 0;
}

#userList4graph ul {
	padding: 0;
	margin: 0;	
	list-style: none;
}

#userList4graph li {
	float: left;
	font-size: 14px;
	margin: 5px;
	padding: 5px;
	border: 1px solid #ccc;
	cursor: pointer;
}

#userList4graph li:hover {
	background: #ededed;	
}

#socialGraph {
	font-size: 20px;
	float: left;
	margin: 40px 0 0 0;
}

.userInfo {
	text-align: left;	
}

#groups, #friends, #friendsOfFriends, #friendsSuggested {
	float: left;
	text-align: left;
	margin: 0 50px 0 0;
}

#userConnection {
	display: none;
}